
.App {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.Buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.main{
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 1000px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

h1{
  text-align: center;
}